main {
    text-align: left;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    padding-bottom: 40px;
}
p {
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
}
body {
    background-image: url(../img/bckgS.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
  }
  h1 {
    text-align: center;
    color: white;
    background-image: linear-gradient(160deg, #454a4e, #494a50);
    border: 2px rgb(0, 0, 0) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
    }
  h2 {
      border: 3px solid black;
      text-align: center;
      padding: 10px;
      background-image: linear-gradient(160deg, #2c2d2ece, #0000009f);
  }
  h3 {
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(160deg, #2c2d2ece, #0000009f);
  }
  h4 {
    text-align: left;
    border-top: black solid 3px;
    padding-left: 10px;
  }
  h5 {
    padding-left: 10px;
  }
  table {
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 5%;
      border: 3px solid black;
  }
  td, th {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: #3f3f3f;
    color: white;
    padding: 5px;
  }
  .odkaz {
    color: white;
  }
  .odkazy{
    margin-top: auto;
    margin-bottom: auto;
}
a.footerodkazy{
  color: rgb(255, 0, 0)!important;
}
a.footerodkazy:hover{
  color: rgb(136, 0, 11)!important;
}
img {
  float: right;
  margin-left: 10px;
  margin-right: 15px;
}
.box {
  background-image: linear-gradient(160deg, #2c2d2ece, #0000009f);
  border: 2px solid rgb(255, 255, 255);
  width: auto;
  float: left;
  margin-top: 2%;
  margin-left: 10px;
  margin-bottom: 2%;
}
.box1 {
  background-image: linear-gradient(160deg, #2c2d2ece, #0000009f);
  border: 2px solid rgb(255, 255, 255);
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.bruh {
  text-align: center;
  color: white;
}
.card-header {
  background-color: rgb(78, 78, 78) !important;
}
#collapseOne {
  background-color: rgb(0, 0, 0) !important;
}
#collapseTwo {
  background-color: rgb(0, 0, 0) !important;
}
#collapseThree {
  background-color: rgb(0, 0, 0) !important;
}
#collapseFour {
  background-color: rgb(0, 0, 0) !important;
}
#collapseFive {
  background-color: rgb(0, 0, 0) !important;
}
#collapseSix {
  background-color: rgb(0, 0, 0) !important;
}
