main {
    text-align: left;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    padding-bottom: 40px;
}
p {
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
}
body {
    background-image: url(../img/bckgS.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
  }
  h2 {
      border: 3px solid black;
      text-align: center;
      padding: 10px;
      background-image: linear-gradient(160deg, #2c2d2ece, #0000009f);
  }
  h3 {
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(160deg, #2c2d2ece, #0000009f);
  }
  h4 {
    text-align: left;
    border-top: black solid 3px;
    padding-left: 10px;
  }
  h5 {
    padding-left: 10px;
  }
  table {
      text-align: center;
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 5%;
      border: 3px solid black;
  }
  td, th {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: #3f3f3f;
    color: white;
    padding: 5px;
  }
  .odkaz {
    color: white;
  }
  .odkazy{
    margin-top: auto;
    margin-bottom: auto;
}
a.footerodkazy{
  color: rgb(0, 202, 202)!important;
}
a.footerodkazy:hover{
  color: aqua!important;
}